<% logger.debug "Product: #{product.name}" %>

<div class="row product-row">
  <div class="col-md-2"><%= product.name %></div>
  <div class="col-md-4"><%= product.description %></div>
  <div class="col-md-2"><%= product.image_url %></div>
  <div class="col-md-1"><%= product.colour %></div>
  <div class="col-md-1"><%= product.price %></div>
  <div class="col-md-2"><%= link_to 'Show', product %>|<%= link_to 'Edit', edit_product_path(product) %>|<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>