<div id="all-products">
  <p id="notice"><%= notice %></p>

  <h1 class="all-products-header">Currently in stock</h1>

  <div class="row">
    <div class="col-md-2"><strong>Name</strong></div>
    <div class="col-md-3"><strong>Description</strong></div>
    <div class="col-md-2"><strong>Image URL</strong></div>
    <div class="col-md-2"><strong>Colour</strong></div>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-1">&nbsp;</div>
  </div>

  <% @products.each do |product| %>
    <div class="row product-row">
      <div class="col-md-2"><%= product.name %></div>
      <div class="col-md-3"><%= product.description %></div>
      <div class="col-md-2"><%= product.image_url %></div>
      <div class="col-md-2"><%= product.colour %></div>
      <div class="col-md-1"><%= link_to 'Show', product %></div>
      <div class="col-md-1"><%= link_to 'Edit', edit_product_path(product) %></div>
      <div class="col-md-1"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>

  <br>

  <%= link_to 'New Product', new_product_path %>
</div>
