<div id="all-products">
  <p id="notice"><%= notice %></p>

  <h1>In Stock</h1>

  <table class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image url</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr class="product-row">
          <td class="product-row-name"><%= product.name %></td>
          <td class="product-row-description"><%= product.description %></td>
          <td class="product-row-image-url"><%= product.image_url %></td>
          <td class="product-row-link"><%= link_to 'Show', product %></td>
          <td class="product-row-link"><%= link_to 'Edit', edit_product_path(product) %></td>
          <td class="product-row-link"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Product', new_product_path %>
</div>
