<div class="row" id="show-product">
  <div class="col-xs-12 col-md-5">
    <%= image_tag(@product.image_url, :class => "img-responsive") %>

    <div class="show-product-navigation">
      <span class="glyphicon glyphicon-pencil"></span>&nbsp;<%= link_to 'Edit', edit_product_path(@product) %> |
      <span class="glyphicon glyphicon-chevron-left"></span><%= link_to 'Back', products_path %>
    </div>  
  </div>

  <div class="col-xs-12 col-md-7">
    <h3><%= @product.name %></h3>
    <p class="show-product-paragraph"><strong>Description:</strong>  <%= @product.description %></p>
    <P class="show-product-paragraph"><strong>Colour:</strong>  <%= @product.colour %></p>
    <p class="show-product-paragraph"><strong>Price:</strong>  <%= @product.price %></p>

    <p class="show-product-paragraph">Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>

    <%= render 'new_comment' %>
    <%= render 'reviews' %>  

  </div>
</div> 
